h1 {
    font-size: 24px;
    color: #333;
}
body{
    background-color: #ffffff2a;
}
.container {
    display: flex;
    justify-content: center;

}
.botoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.item {
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 30px;
    border: 1px solid #000000;
    border-radius: 20px;
    background-color: #f9f9f9;
}

.adicionar {
    background-color: #007bff;
    color: #fff;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 5px;
}

.form{
    display: flex;
    flex-direction: column;
    margin:0 auto;
    max-width: 600px;
    align-items: center;
    border: 1px solid rgb(190, 189, 189);
    border-radius: 20px;
    padding: 10px;
}

.campo{
    width: 100%;
    padding: 10px;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
}

.botao {
    margin-top: 20px;
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}
.carrinho{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    max-width: 600px;
}
.itens{
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 30px;
    border: 1px solid #000000;
    border-radius: 20px;
    background-color: #f9f9f9;
}

#lista-produtos {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    max-width: 75%;
    margin: auto;
}